[Unit]
Description=TWIStation PRO Boot Launcher
After=multi-user.target

[Service]
ExecStart=/home/hanako/TWISTP-10000/build/TWISTP-10000
Restart=always
StandardInput=tty
StandardOutput=journal

[Install]
WantedBy=graphical.target
